html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Spartan', sans-serif;
    font-size: 32px;
    background-color: var(--background-window);
}

.primary-theme {
    --background-window: #3A4663;
    --background-keypad: #242D44;
    --background-button: #EAE3DC;
    --background-preview-number: #181F33;
    --title-color: #FFFFFF;
    --button-shadow: #B3A497;
    --button-number-text: #434A59;
    --button-ops-text: #FFFFFF;
    --button-ops-background: #647198;
    --button-ops-shadow: #414E73;
    --button-result: #D03F2F;
    --button-number-text-hover: #FFFFFF;
    --button-ops-text-hover: #A2B2E1;
    --button-result-hover: #F96B5B;
}

.secondary-theme {
    --background-window: #E6E6E6;
    --background-keypad: #D2CDCD;
    --background-button: #E5E4E1;
    --background-preview-number: white;
    --title-color: #36362C;
    --button-shadow: #A79E91;
    --button-number-text: #36362C;
    --button-ops-text: #FFFFFF;
    --button-ops-background: #378187;
    --button-ops-shadow: hsl(185, 58%, 25%);
    --button-result: #C85402;
    --button-number-text-hover: #FFFFFF;
    --button-ops-text-hover: #62B5BC;
    --button-result-hover: #FF8A38;
}

.accent-theme {
    --background-window: #17062A;
    --background-keypad: #1E0936;
    --background-button: #331C4D;
    --background-preview-number: #1E0936;
    --title-color: #FFE53D;
    --button-shadow: #881C9E;
    --button-number-text: #FFE53D;
    --button-ops-text: #FFFFFF;
    --button-ops-background: #56077C;
    --button-ops-shadow: #BE15F4;
    --button-result: #00DED0;
    --button-number-text-hover: #6C34AC;
    --button-ops-text-hover: #8631AF;
    --button-result-hover: #93FFF8;
}


.title {
    color: var(--title-color);
}

.btn-primary {
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    background: var(--button-ops-background);
    color: var(--button-ops-text);
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 14px;
    padding-right: 13px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    box-shadow: inset 0px -4px 0px var(--button-ops-shadow);
}

.btn-primary:hover {
    background-color: var(--button-ops-text-hover);
}

.btn-secondary {
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    background: var(--button-result);
    color: var(--button-ops-text);
    text-align: center;
    white-space: nowrap;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow: inset 0px -4px 0px var(--button-result-hover);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
}

.btn-secondary:hover {
    background-color: var(--button-result-hover);
}

.btn-accent {
    cursor: pointer;
    font-family: 'Spartan', sans-serif;
    color: var(--button-number-text);
    background-color: var(--background-button);
    white-space: nowrap;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 14px;
    padding-right: 13px;
    box-shadow: inset 0px -4px 0px var(--button-shadow);
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 1px;
}

.btn-accent:hover {
    background-color: var(--button-number-text-hover);
}



.container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: minmax(50px, 450px) minmax(327px, 1fr) minmax(50px, 450px);
    grid-template-rows: minmax(50px, 144px) 1fr minmax(50px, 145px);
    height: 100vh;
    grid-template-areas: ". . ."
        ". calc ."
        ". . .";
}

.item-1 {
    justify-self: stretch;
    grid-area: calc;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.theme-wrapper {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        ". numbers"
        "theme range";
}

.theme {
    grid-area: theme;
    margin-top: 6px;
    align-self: center;
    text-transform: uppercase;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 1px;
    color: var(--title-color);
}

.slider {
    -webkit-appearance: none;
    width: 70px;
    height: 20px;
    border-radius: 10px;
    background: var(--background-keypad);
    color: var(--button-result);
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: var(--button-result);
    cursor: pointer;
    margin-left: 2px;
}

.slide-container {
    grid-area: numbers;
    align-self: end;
    display: flex;
    flex-direction: column;
}

.slide-numbers {
    margin-left: 3px;
    display: flex;
    justify-content: space-between;
}

.slider-text {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 13px;
    text-align: center;
    color: var(--title-color);
}

.range {
    grid-area: range;
}

.calculator-wrapper {
    width: 100%;
    min-height: 128px;
    cursor: pointer;
    border: none;
    font-weight: 400;
    font-style: normal;
    background-color: var(--background-preview-number);
    color: var(--button-number-text);
    border-radius: 10px;
    display: grid;
    justify-content: end;
}

.calculator-class {
    font-family: 'Spartan', sans-serif;
    align-self: center;
    text-align: end;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -0.8px;
    color: var(--title-color);
}

input:focus {
    outline: none;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 54px;
    text-align: right;
    letter-spacing: -0.8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.calculator-body {
    padding: 2%;
    background-color: var(--background-keypad);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "seven eight nine del"
        "four five six addition"
        "one two three subtraction"
        "point zero division multiplication"
        "reset reset equal equal"
    ;
    gap: 24px;
    border-radius: 10px;
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}

.del {
    grid-area: del;
}

.four {
    grid-area: four;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.addition {
    grid-area: addition;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.three {
    grid-area: three;
}

.subtraction {
    grid-area: subtraction;
}

.point {
    grid-area: point;
}

.zero {
    grid-area: zero;
}

.division {
    grid-area: division;
}

.multiplication {
    grid-area: multiplication;
}

.reset {
    grid-area: reset;
}

.equal {
    grid-area: equal;
}